<section>
    <a href="/addsongs/37i9dQZEVXbLRQDuF5jeBp">TOP 50 US CHARTS</a>
    <a href="/addsongs/37i9dQZEVXbKuaTI1Z1Afx">VIRAL 50 USA CHARTS</a>
    <a href="/addsongs/37i9dQZF1DWUa8ZRTfalHk">POP RISING</a>
</section>
