<section>
    <form action="/list" method="POST">
        <input type="text" name="title" placeholder="insert name of playlist">
        <input type="text" name="genre" placeholder="insert genre of playlists">
        <input type="text" name="tags" placeholder="insert tags for playlists">
        <button type="submit" class="button">Submit</button>
    </form>
</section>