<style>
    .button {
        background-color: rgb(39, 190, 1); /* Green */
        border: none;
        color: white;
        padding: 40px 80px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 50px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1 {
        background-color: white; 
        color: black; 
        border: 2px solid rgb(39, 190, 1);
        width: 100%;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 42px;
        margin: 4px 2px;
        -webkit-transition-duration: 0.4s; /* Safari */
        transition-duration: 0.4s;
        cursor: pointer;
    }

    .button1:hover {
        background-color: #4CAF50;
        color: white;
    }

h1 {
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 50px;
}

input {
    width: 100%;
    height: 30%;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    text-align: center;
}


</style>

<section>
    <h1>ENTER NAME OF PLAYLIST</h1>
    <form action="/list" method="POST">
        <div id="input">
            <input type="text" name="title" placeholder="insert name of playlist">
        </div>
        <div id="button">
            <button type="submit" class="button1">Submit</button>
        </div>
    </form>
</section>