<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<section>
    <h1>HERE ARE TRACKS IN PLAYLIST PLS WORK</h1>
    <a href="/between">Add Songs!</a>
    {{#if songInfo}}
    <table>
        <tr>
            <th>Name</th>
            <th>Artist</th>
            <th>Album</th>
            <th>Length</th>
        </tr>
        {{#each songInfo}}
        <tr>
            <th>{{this.title}}</th>
            <th>{{this.artist}}</th>
            <th>{{this.album}}</th>
            <th>{{this.length}}</th>
        </tr>
        {{/each}}
    </table>
    {{/if}}
    <a href="/back2">BACK TO PLAYLISTS</a>
</section>